# Misc
.DS_Store

# Vim tmp files
.*.swp

# Distribution / packaging
/env/*
/static/build/*

# Unit test / coverage reports
/coverage/*
/htmlcov/*
/.tox/*
/.hypothesis/*

.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover


# NPM Stuff
/node_modules/*

npm-debug.log*
.mypy_cache/

.env
.vscode/

apns.pem

*.pem
node_modules
