# Misc
.DS_Store
*.pyc

# Vim tmp files
.*.swp

# Distribution / packaging
env/*
build/*

# Unit test / coverage reports
/coverage/*
/htmlcov/*
/.tox/*
/.hypothesis/*

.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover


# NPM Stuff
*.pem
node_modules
npm-debug.log*
.mypy_cache/


.env
.vscode/
