# Misc
.DS_Store

# Vim tmp files
.*.swp

# Distribution / packaging
env/*
build/*
*/env/*
*/build/*

# Unit test / coverage reports
*/coverage/*
htmlcov/*
.tox/*
.hypothesis/*

.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# NPM Stuff
*.pem
node_modules
*/node_modules
npm-debug.log*
.mypy_cache/

.vscode/

# Python Stuff
*.pyc
*/.env/
*/.venv/
__pycache__