@import "tailwindcss";

@theme {
    --color-melee: #cc0000;
    --color-ranged: #1e9682;
    --color-magic: #920f6f;
    --color-summoner: #075eff;
    --color-mixed: #afcfe2;
    --color-healer: #29b360;
    --color-tank: #d20000;

    --font-terraria: "terraria";
}
