@import "tailwindcss";

@theme {
    --color-melee: #cc0000;
    --color-ranged: #1e9682;
    --color-magic: #920f6f;
    --color-summoning: #075eff;
    --color-mixed: #afcfe2;
    --color-healer: #29b360;
    --color-tank: #d20000;

    --background-image-1: url("./assets/images/backgrounds/1.png");
    --background-image-2: url("./assets/images/backgrounds/2.png");
    --background-image-3: url("./assets/images/backgrounds/3.png");
    --background-image-4: url("./assets/images/backgrounds/4.png");
    --background-image-5: url("./assets/images/backgrounds/5.png");
    --background-image-6: url("./assets/images/backgrounds/6.png");
}

html,
body,
#root {
    min-height: 100%;
    font-family: Helvetica, system-ui;
}

body {
    @apply bg-stone-100;
}
