.top-buffer {
  margin-top: 40px;
}

.weapons {
  border: 5px solid blue;
}
.armor {
  border: 5px solid red;
}
.buffs {
  border: 5px solid goldenrod;
}
.accessories {
  border: 5px solid purple;
}
.mounts {
  border: 5px solid green;
}
.lights {
  border: 5px solid turquoise;
}
